/* style the ul and tags */
.tags {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

.tag {
    list-style: none;
    display: flex;
	align-items: center;
    justify-content: center;
    height: 1.5rem;
    color: #686868;
    padding: 0 8px;
    border-radius: 4px;
    margin: 0 6px 6px 0;
    background: #E8E8E8;
}

.tagName {
    font-size: 1rem;
}

/* style the tag text input field */
.tagInput {
    border: none;
    outline: none;
    border-bottom: 1px solid #cecece;
    height: 3rem;
    overflow: auto;
}

.tagInput::placeholder {
    color: #cecece;
}